/*nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}*/
/*
nav li a {
    font-family: cursive;
    color: #ff1e4b;
    font-size: 16px;
    text-decoration: none;

}*/
